[submodule "emacs.d/base16"]
	path = emacs.d/base16
	url = https://github.com/neil477/base16-emacs
[submodule "emacs.d/enhanced-ruby-mode"]
	path = emacs.d/enhanced-ruby-mode
	url = https://github.com/zenspider/enhanced-ruby-mode
[submodule "emacs.d/powerline"]
	path = emacs.d/powerline
	url = https://github.com/milkypostman/powerline.git
